.data-detail[data-v-ae834a35]{display:flex;flex-direction:column;height:100%}.table-scroll-container[data-v-ae834a35]{margin-top:10px;flex:1;height:calc(100vh - 230px);min-height:500px;overflow:hidden}
